*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
bin/
gen/
obj/
tmp/
out/
proguard/
proguard_logs/
*.class
app/src/main/res/drawable/
local.properties
